.field {
    text-align: center;
}

.inputBox {
    margin:20px;
    width:312px;
    height:32px;
    font-size: 1.5rem;
}
.inputBox::-webkit-inner-spin-button,
.inputBox::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.inputLabel {
    font-size: 1.5rem;
}

.submitButtonContainer{
    align-items: center;
}

.submitButton{
    border-radius:8px;
    width:150px;
    font-size: 1.5rem;
    background-color: #027BEE;
    color:#fff;
    border:none;
    box-shadow: -5px -5px 4px -2px #1149DB inset;
}
.submitButton:active{
    box-shadow: none;
}