.card{
    width:auto;
    margin-left:12px;
    margin-right:12px;
    display: block;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid #ddd; /* ボーダーの例 */
    padding: 16px;
    transition: box-shadow 0.3s ease; /* ホバー時のアニメーション */
}
.card:hover{
    background-color:#f9f9f9;
}
.text{
    font-size: 1rem;
}
